<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/Basavarajweb/node_modules/src/assets/styles.scss">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>B</span>asavaraj <span>M</span>agadum</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Basavaraj Magadum <span></span></h1>
        <a href="#projects" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>ces</h1>
        <p>Good experience in developing applications using JAVA technologies,
          Excellent analytical and programming abilities in using technology to create flexible and maintainable
          solutions for Complex development problems.Having Good Working Experience in Agile SCRUM /DevOps.
          Having good knowledge in Bug Life Cycle.Excellent team player and ability to adapt to changes Quickly and
          Efficiently.!</p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Front-End</h2>
          <p> Experience Angular Framework,Angular Material with Restful Services,Experience in developing front-end
            User Interfaces using HTML, CSS, SCSS and Bootstrap. </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Back-End</h2>
          <p>Experience in developing applications using JAVA technologies
            like Spring MVC, Spring Boot and Micro Service<br>Creating Api and Api integration </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>DB & Cloud</h2>
          <p>SQL- It allows you to create, retrieve, update, and delete data stored in a structured manner.<br>AZure
            cloud,Basic of AWS</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Tools</h2>
          <p>Experience in using JIRA, Bamboo, Bitbucket tool for Project Management.
            Hands on experience in GIT hub and GitHub action, and Torrtis-Git, Visual Code, Intellij, Post Man.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>MSME Loan Origin Management</h2>
            <p>Worked on building the Loan Origination System (LOS) for MSMEs (Micro, Small and Medium enterprise).
              Which includes Mobile application for Customer and Field Agent to initiate Loan application and a Web
              Application for bank users to process the loan applications.
              As part of the project designed and developed the UI screens for admin configuration screens, transaction
              screens for Bank User in Web application. In the mobile application, designed and developed complete
              journey to initiate loan application i.e Basic Customer Details, Demographic Details, Loan product details
              and Business rule engine.
              Worked on backend integration with Third Party API for various like Karza, Cygnet, Legality etc for
              various checks like Pan validation, udyam validation,GST check and consent etc. Also, integrated with APIs
              of LMS (Loan Management System) to create client and customer servicing.
            </p>
          </div>
          <div class="project-img">
            <img src="../assets/img/img-5.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>MS Connectivity Journey- Insurance Submission Journey </h2>
            <p>: NSE (National Stock Exchange), Project is a connectivity journey which will be for stake holders
              through the holding their accounts by the networking. This overall project based on networking, one who
              have holding the account and stock or stake holders the person have minimum bandwidth we need to access
              particular location For that we have created API and written Junit Testcases</p>
          </div>
          <div class="project-img">
            <img src="../assets/img/img-1.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>BLISS8 [Bliss Club] </h2>
            <p>The objective of the project is to implement a fully integrated With Real Estates Web Application For
              Dubai Booking ,Purchasing, Selling, Rent, lease flats Overall Dubai.
              • Staying up-to-date with the latest technologies and trends in web development. Ensuring the application
              is scalable, secure, and optimized for performance.Developed Modules
              • Api integration with design and Functionality.
              • Worked on defect tracker on new update FSD
              • Supported for SIT and UAT phases for defects fixing.
            </p>
          </div>
          <div class="project-img">
            <img src="../assets/img/img-6.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>MSME</h2>
            <p>Clients: Craft Silicon | Role: Front End Developer
              • Responsible to understand the functionality of project that Involved in gathering the requirements,
              analysis, design & development of the project. Collaborating with cross-functional teams to design,
              develop, and implement new features.
              • Writing clean, efficient, and well-documented code. Troubleshooting and debugging issues in the
              application.
              • Staying up-to-date with the latest technologies and trends in web development. Ensuring the application
              is scalable, secure, and optimized for performance.
              • Woking Under Sprints pattern, Developed Component forms worked design and functionalities.
            </p>
          </div>
          <div class="project-img">
            <img src="../assets/img/img-4.png" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="../assets/img/img-3.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>Software Developer Engineer</h2>
        <p>As a Full Stack Software Engineer, you possess a diverse skill set that allows you to work on both the
          front-end and back-end aspects of software development.
          <br>
          On the front-end side, you are likely proficient in HTML, CSS, and JavaScript, which enable you to create
          intuitive and user-friendly interfaces. Additionally, you may have experience with popular front-end
          frameworks such as React, Angular, or Vue.js, which help you build dynamic and responsive web applications.
          <br>
          On the back-end side, your expertise lies in Java. Java is a versatile and widely used programming language
          known for its scalability, performance, and security. Your knowledge of Java allows you to develop robust
          server-side applications, handle data persistence using frameworks like Hibernate or JPA, and create RESTful
          APIs to communicate with front-end applications.
        </p>
        <!-- <p>As a Java Full Stack Software Developer/Engineer, you will be responsible for developing and maintaining
          end-to-end software solutions. You will work on both frontend and backend components of applications, ensuring
          smooth and efficient functionality. Here are some key responsibilities and qualifications for this role:Having
          overall 3.5 years of experience in Analysis, Development, Design & Implementation
          of Object Oriented Software Applications. Good experience in developing applications using JAVA technologies
          like Spring MVC, Spring Boot, Angular, Angular Material with Restful Services, and Micro Services Azure Cloud.
          Experience in developing front-end User Interfaces using HTML, CSS, SCSS and Bootstrap.
          Excellent analytical and programming abilities in using technology to create flexible and maintainable
          solutions for Complex development problems.
          Having Good Working Experience in Agile SCRUM /DevOps
          Having Good Work Experience in using JIRA, Bamboo, Bitbucket tool for Project Management.
          Having good knowledge in Bug Life Cycle.
          Hands on experience in GIT hub and GitHub action, and Torrtis-Git.
          Hands on experience in using Visual Code, Intellij, Post Man,
          Excellent team player and ability to adapt to changes Quickly and Efficiently.
          Experience in dealing with On-Shore and Off-Shore teams
        </p> -->
        <a href="../assets/img/Basavaraj P M_Resume_new.pdf" class="cta">Download Resume</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+91 7676436117</h2>

          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>mpbasavaraj26@gmail.com</h2>

          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Ankali, Chikodi, Belgavi, Karnataka, India</h2>
            <h3>Pin:591213</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>B</span>asavaraj <span>M</span>agadum</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/login/"><img
              src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/accounts/login/?hl=en"><img
              src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a
            href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><img
              src="https://img.icons8.com/bubbles/100/000000/x.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.linkedin.com/feed/"><img
              src="https://img.icons8.com/bubbles/100/000000/linkedin.png" /></a>
        </div>
      </div>
      <p>Copyright © 2023 BasavarajPM. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>